@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,400&display=swap');
body {
	margin: 0;
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.page-header {
	margin: auto;
}
.sub-header {
	width: 350px;
	margin: 5px auto;
	text-align: center;
}
.form {
	width: 80%;
	max-width: 400px;
	margin: auto;
	padding-bottom: 20px;
	line-height: 1.5;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 10px;
}
/* .step {
	opacity: 1;
	transition: opacity 500ms;
}
.step.fade-out {
	opacity: 0;
} */
.hidden {
	display: none;
}
.form-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.head-text {
	font-size: 1.5em;
	margin: 10px;
	width: 90%;
	max-width: 400px;
	text-align: center;
}
.form-input {
	width: 100%;
	max-width: 210px;
	height: 30px;
	outline: none;
	border: 1px solid #969696;
	border-radius: 4px;
	font-size: 1.1em;
	text-align: center;
}
.form-input::placeholder {
	text-align: center;
}

.error {
	color: rgba(255, 170, 155);
}
.pw-err {
	background-color: rgb(255, 170, 155);
}
.form-radio {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.form-radio > .form-label {
	font-size: 1.2em;
}
.radio {
	margin: 0px 0px 0px 20px;
}
.sub-info {
	margin: 0 auto;
	width: 90%;
	max-width: 400px;
	text-align: center;
	color: mediumturquoise;
}
.display-data {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.display-data > p {
	margin: 5px 2.5px;
}
.data-label {
	font-weight: 600;
}
button {
	width: 40%;
	height: 30px;
	margin: 20px auto 0px;
	background: cornflowerblue;
	box-shadow: 2px 2px 10px gray;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 1.1em;
	cursor: pointer;
	outline: none;
}
button:active {
	box-shadow: none;
}
button:hover {
	background-color: rgb(78, 115, 184);
}
#btn-submit {
	background: mediumseagreen;
}
