@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,400&display=swap');

body {
	padding: 25px;
}
.form {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	max-width: 700px;
}

.form * {
	box-sizing: border-box;
	line-height: 1.5;
}

.form-title {
	font-size: 2em;
	font-weight: 600;
}

.form-item {
	display: flex;
	flex-direction: column;
}

.form-item > * {
	/* target all items within a form-item div */
	align-self: flex-start;
}

.form-label {
	font-weight: 600;
	padding: 10px 0;
}

.form-input {
	-webkit-appearance: none;

	width: 100%;
	max-width: 425px;

	/* Fix for safari/iOS date fields */
	/* font size * top and bottom padding + 0.6em */
	min-height: calc(0.9em + (0.8em * 2) + 0.6em);

	padding: 0.8em;
	font-size: .9em;
	font-family: 'Montserrat', sans-serif;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #f9f9f9;
	transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form-input:focus {
	background-color: #fff;
}

.form-input::placeholder {
	color: #bbb;
}

.form-input-error {
	color: #d50000;
	background: #fff8f8;
	border-color: #d50000;
}

.form-input-error::placeholder {
	color: #ffbfbf;
}

.form-error {
	padding-top: 10px;
	color: #d50000;
	font-size: 0.9em;
	visibility: hidden;
}

.form-input-error + .form-error {
	/* target next adjacent sibling */
	visibility: visible;
}

.form-input-small {
	max-width: 250px;
}

textarea.form-input {
	min-height: 200px;
	min-width: 200px;
}
.form-btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.1em;
	padding: 10px 16px;
	margin: 10px 0;
	color: #fff;
	background: #14b64a;
	border: 2px solid #0f8a38;
	border-radius: 5px;

	cursor: pointer;
	outline: none;
}

.form-btn:active {
	background: #0fa942;
}
